#home {
  height: 100vh;
}

#landing {
  background-image: url(/frontend/images/homeBackgroundv2.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*==========ICONS==========*/

/*=====BOOKMARK=====*/
.bookmarkStyle {
  float: right;
  color: #E8422D;
  padding: 5%;
  font-size: 1.5em;
  z-index: 2;
  cursor: pointer;
  position: relative;
}

#mainBookmark {
  position: fixed;
  font-size: 2em;
  float: right;
  color: #E8422D;
  right: 0;
  padding-right: 6vw;
  padding-top: 8vh;
  transition: 0.3s;
  cursor: pointer;
}

#mainBookmark:hover {
  font-size: 2.2em;
  color: rgb(170, 48, 32);
}

/*====ABOUT ICON====*/

#infoIcon {
  font-size: 1.7em;
  position: fixed;
  right: 0;
  text-align: right;
  color: #F6F6F6;
  padding-right: 6vw;
  top: 86.5vh;
  transition: 0.3s;
  cursor: pointer;
}

#infoIcon:hover {
  font-size: 1.9em;
  color: rgb(172, 172, 172);
}

/*================TITLE&SEARCH===============*/

#title-center {
  padding-top: 22%;
  padding-left: 10%;
  text-align: left;
}

#title-center h2 {
  margin-top: 0;
  font-style: italic;
  color: #F6F6F6;
}

#title {
  max-width: 33%;
  height: auto;
}

#search {
  margin: 0;
  max-width: 1110px;
  position: absolute;
  float: left;
  top: 70%;
  left: 25%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  display: block;
  width: 30%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem 2rem;
  background-color: #F6F6F6;
  border: 0;

  color: #212121;
  font-family: "Lucida Sans Typewriter";
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1;
}

/*========================================IMAGES=======================================*/
/*https://cssgradient.io/*/

#images {
  display: flex;
  flex-wrap: wrap;
  padding: 30vh 20vw 10vh;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(14, 14, 14) 20%, rgb(20, 20, 20) 79%, rgb(20, 20, 20) 87%, rgba(20, 20, 20, 0.979) 97%, rgba(20, 20, 20, 0.082) 99%);
}

#images .img {
  width: 290px;
  height: 290px;
  z-index: 0;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 5px 5px;
  transition: 0.2s;
}

/* #images .img:hover {
  opacity: 0.8;
} */

/*================FORM================*/
.img form {
  padding: 70% 0 5% 0;
  position: relative;
}

.img form input {
  font-family: 'Lucida Sans Typewriter';
  z-index: 5;
  position: relative;
  padding: 3% 5%;
  margin-right: 2%;
  color: #F6F6F6;
  background: rgba(82, 82, 82, 0.356);
  backdrop-filter: blur(12px);
  border: none;
  border-bottom: 1.5px solid #F6F6F6;
}

.img form #ratinginput {
  padding: 3% 10%;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(22, 22, 22, 0.603);
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(22, 22, 22, 0.603);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(22, 22, 22, 0.603);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.img form #submitButton {
  z-index: 5;
  font-family: 'Lucida Sans Typewriter';
  padding: 3% 5%;
  position: relative;
  border: none;
  color: #F6F6F6;
  background: rgba(170, 170, 170, 0.356);
  backdrop-filter: blur(12px);
  transition: 0.3s;
}

.img form #submitButton:hover {
  padding: 3% 6%;
  cursor: pointer;
  background: rgba(216, 216, 216, 0.356);
}

/*========================================BACK-TO-TOP=======================================*/
.back-top {
  position: fixed;
  text-align: center;
  width: 40px;
  height: 40px;
  bottom: -80vh;
  left: 0;
  right: 0;
  top: -15.5px;
  margin: auto;
  background: rgba(143, 143, 143, 0.52);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  backdrop-filter: blur(2px);
  color: #F6F6F6;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  cursor: pointer;
  transition: 0.5s;
}

.back-top:hover {
  background: rgba(232, 67, 45, 0.863);
}

.back-top i {
  margin: 12px;
  margin-left: 11px;
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}