h1 {
  font-family: "Book Antiqua", serif;
  font-weight: bold;
  color: #F6F6F6;
  font-size: 40px;
  padding-top: 10vh;
  margin: 0;
}

h2 {
  font-family: "Book Antiqua", serif;
  font-weight: normal;
  color: rgb(199, 199, 199);
  font-size: 25px;
  margin-top: 1vh;
  margin-bottom: 5vh;
}

.aboutText p {
  font-family: 'Lucida Sans Typewriter';
  font-size: 1em;
  font-style: oblique;
  color: rgb(255, 74, 50);
}

.aboutText ul {
  font-family: 'Lucida Sans Typewriter';
  font-size: 1em;
}