

h1 {
    font-family: "Book Antiqua", serif;
    font-weight: bold;
  }
  
h2 {
    font-family: "Book Antiqua", serif;
    font-weight: normal;
    color: #F6F6F6;
  }

  footer p, footer #about{
    font-family: "Book Antiqua", serif;
  }

  footer #about{
    font-size: 20px;
    text-decoration: none;
    color: #212121;
    font-weight: bold;
    transition: 0.5s;
  }

  footer #about:hover{
    color: #E8422D;
  }

  footer p{
    font-size: 15px;
  }