/* .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    border: none;
} */

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(128, 128, 128, 0.5);
    transition: 0.5s;
    padding-top: 60px;
  }

.overlay h1, .overlay h2{
    float: right;
  }